tgcrypto==1.2.5
ffmpeg-python
py-tgcalls==0.8.6
pyrogram==2.0.106
git+https://github.com/yt-dlp/yt-dlp
youtube-search-python
youtube-search
python-dotenv
dnspython
gitpython
asgiref
aiofiles
aiohttp
requests
pillow
heroku3
motor
psutil
future
wget
speedtest-cli
pymongo
